state-machine.json
{
  "Comment": "State Machine to invoke lambas.",
  "StartAt": "InvokeLambdaHelloStateMachine",
  "States": {
    "InvokeLambdaHelloStateMachine": {
      "Type": "Wait",
      "Seconds": 2,
      "Next": "InvokeLambdaHello"
    },
     "InvokeLambdaHello": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:hello",
      "Next": "InvokeLambdaGoodBye"
    },
    "InvokeLambdaGoodBye": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:goodbye",
      "InputPath": "$",
      "Next": "CheckStatusFromLambdaHello"
    },
    "CheckStatusFromLambdaHello": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.statusCode",
          "NumericEquals": 200,
          "Next": "SuccessState"
        },
        {
          "Not": {
            "Variable": "$.statusCode",
            "NumericEquals": 200
          },
          "Next": "FailedState"
        }
      ]
    },
    "SuccessState": {
      "Type": "Pass",
      "End": true
    },
    "FailedState": {
      "Type": "Fail"
    }
  }
}
